{# in main.html #}

<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% for label, command in commands.items() %}

<div class="back">
    <div class="button_base b10_tveffect" href="/{{ command }}">
        <div> {{ label }}</div>
        <div>
            <div> {{ label }}</div>
            <div> {{ label }}</div>
            <div> {{ label }}</div>
        </div>
    </div>
</div>
{% endfor %}

<div class="back">
    <div class="button_base b05_3d_roll" href="/{{command}}">
        <div>STATUS</div>
        <div>{{ status }}</div>
    </div>
</div>

{# and then elsewhere #}
